# Server Configuration
PORT=5000
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=production

# Database Configuration
# INTERNAL URL (Use this in the Railway Dashboard for production)
# DATABASE_URL=postgresql://postgres:password@postgres-vmop.railway.internal:5432/railway

# PUBLIC URL (Use this in your local .env file to connect from your computer)
DATABASE_URL=postgresql://postgres:MUOpqBVRfTkFBIjbrrDIXdRxiApJVMXk@postgres-vmop.railway.app:PORT/railway

# Local Fallback (Used if DATABASE_URL is not provided)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=globalearn
DB_PASSWORD=password
DB_PORT=5432

# M-Pesa Configuration
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=